<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  </head>
  <body data-spy="scroll" data-target=".carousel" data-offset="50">
    <div class="container-fluid">

<!-- barre de navigation -->
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#"><%=user.pseudo%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard"><img src="/images/user.svg" id="picto-user"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Déconnexion</a>
        </li>
      </ul>

    </div>

<a href="#main-dashboard"><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"  data-interval="2000"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"  data-interval="2000"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" data-interval="2000"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/images/fifa18-3.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Rentre dans l'arène</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/fifa18-4.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Choisis un ami à défier</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/call-of-duty-ww2.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Bats toi jusqu'au bout pour l'emporter</h1>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div></a>
    <br>
<!-- contenu Dashboard -->
    <div id="main-dashboard">
        <h3>Bienvenue <%=user.pseudo%>, commencez à jouer et parier avec vos amis</h3><br>

        <div class="container">

          <!-- <div class="row list-game">
            <img src="/images/fifa18-back.jpg" name="fifa 18" class=" img-game img-fluid">
            <img src="/images/callofduty-back.jpg" class=" img-game img-fluid" alt="">
            <img src="/images/nba.jpg" class=" img-game img-fluid" alt="">
            <img src="/images/needforspeed.jpg" class=" img-game img-fluid" alt="">
          </div><br> -->


          <div class="row">

            <div class="col-6" id="players">
              <h4>Amis</h4>

              <%
              for(let i=0; i<dataFriend.length; i++) {
              %>
              <ul class="list-group">
                <li class="list-group-item call"><%=dataFriend[i].name%></li>
              </ul>

              <%
              }
              %>

            </div>

            <div class="col-6">
              <h4>Jeux</h4>
              <%
              for(let j=0; j<dataGame.length; j++) {
              %>
              <ul class="list-group">
                <li class="list-group-item game"><%=dataGame[j].name%></li>
              </ul>
              <%
              }
              %>
            </div>

      </div>
      <br>
              <div class="col-4">
                <form action="/choice" method="POST">
                  <input class="form-control" name="game" type="hidden" id="input_jeux" placeholder="Tapes le nom du jeu" value=""><br>
                  <input class="form-control" name="friend" type="hidden" id="input_pseudos" placeholder="Tapes le pseudo de ton ami" value=""><br>
                  <button type="submit" class="btn btn-sample btn-secondary">Valider</button>
                </form>
              </div>




        </div>
    </div>

<script type="text/javascript">
for(var i=0; i<document.getElementsByClassName('call').length; i++) {

   document.getElementsByClassName('call')[i].addEventListener("click",
     function(){

       for(var j=0; j<document.getElementsByClassName('call').length; j++) {
         document.getElementsByClassName('call')[j].style.backgroundColor = "#FFFFFF"
       }
              nom = this.textContent;
              btn = document.getElementById('input_pseudos');
              btn.value = nom;
              this.style.backgroundColor = "#C3C3E6";
     }
   );
};

for(var i=0; i<document.getElementsByClassName('game').length; i++) {

   document.getElementsByClassName('game')[i].addEventListener("click",
     function(){

      for(var j=0; j<document.getElementsByClassName('game').length; j++) {
        document.getElementsByClassName('game')[j].style.backgroundColor = "#FFFFFF"
      }
              nom = this.textContent;
              btn = document.getElementById('input_jeux');
              btn.value = nom;
              this.style.backgroundColor = "#C3C3E6";

      }
  )};
</script>

<script src="javascripts/script.js" type="text/javascript">

</script>
  </body>
</html>
