<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  </head>
  <body>
    <div class="container-fluid">

<!-- barre de navigation -->
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#"><%=user.pseudo%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard"><img src="/images/user.svg" id="picto-user"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Déconnexion</a>
        </li>
      </ul>

    </div>
    <br>
<!-- contenu Dashboard -->
    <div id="main-dashboard">
        <h3>Bienvenue <%=user.pseudo%>, commencez à jouer et parier avec vos amis</h3><br>

        <div class="container">


          <div class="row list-game">
            <img src="/images/fifa18-back.jpg" class=" img-game img-fluid" alt="">
            <img src="/images/callofduty-back.jpg" class=" img-game img-fluid" alt="">
            <img src="/images/nba.jpg" class=" img-game img-fluid" alt="">
            <img src="/images/needforspeed.jpg" class=" img-game img-fluid" alt="">
          </div><br>


          <div class="row">

            <div class="col-6" id="players">
              <h4>Amis</h4>

              <%
              for(var i=0; i<dataFriend.length; i++) {
              %>
              <ul class="list-group">
                <li class="list-group-item"><%=dataFriend[i].name%></li>
              </ul>

              <%
              }
              %>

            </div>

              <div class="col-4">
                <h4>Choisis un jeu et un ami</h4>
                <form action="/choice" method="POST">
                  <input class="form-control" name="game" type="text" placeholder="Tapes le nom du jeu"><br>
                  <input class="form-control" name="friend" type="text" placeholder="Tapes le pseudo de ton ami"><br>
                  <button type="submit" class="btn btn-sample btn-secondary">Valider</button>
                </form>
              </div>


          </div>

        </div>
    </div>



  </body>
</html>
