<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/envoiphoto.css">
  </head>
  <body>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/"><img src="/images/user.svg" id="picto-user"></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Déconnexion</a>
        </li>
    </ul>

    <div class="row">
      <div class="col-12">
        <div class="text-center" id="recap-partie">
          Récapitulatif de la partie
        </div>

        <div class="text-center" id="games">
          <span class="badge badge-secondary">FIFA 18</span>
          <span class="badge badge-secondary"><%=user.console%></span>
        </div>
      </div>
    </div>

    <div class="row" id="adversaires">
        <div class="card offset-2 col-2 text-center">
          <div class="card-body">
            <%=user.pseudo%>
          </div>
        </div>
        <div class="col-4 text-center">
          <h3>VS</h3>
        </div>
        <div class="card col-2  text-center">
          <div class="card-body">
            Baptiste69
          </div>
        </div>
    </div>

    <div class="text-center" id="btn-continuer">
      <form action="/resultat" method="post">
        <input type="hidden" name="resultat" value="">
        <button type="submit" class="btn btn-sample btn-danger">Continuer</button>
      </form>

    </div>


    <!-- <form ref='uploadForm'
      id='formphoto'
      action='http://localhost:3000/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> -->


  </body>
</html>
