<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/envoiphoto.css">
  </head>
  <body>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/"><img src="/images/user.svg" id="picto-user"></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/connexion">Déconnexion</a>
        </li>
    </ul>
    <br>
    <br>
    <div class="container text-center">
      <div id="fin">
        Fin de partie
      </div>
      <br>
      <div class="text-center">
        <span class="badge badge-secondary"><%=gameSelected%></span>
        <span class="badge badge-secondary"><%=user.console%></span>
      </div>

      <div class="row divphoto">
        <span class="userphoto"><%=user.pseudo%></span>
        <span class="scorephoto">0</span>
        <span class="scorephoto">0</span>
        <span class="userphoto"><%=friendSelected%></span>
      </div>
      <br>
      <br>

      <form action="/resultat" method="post">
        <input type="hidden" name="resultat" value="">
        <button id="btn-continuer" type="submit" class="btn btn-sample btn-danger">Continuer</button>
      </form>

    </div>


    <!-- <form ref='uploadForm'
      id='formphoto'
      action='http://localhost:3000/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> -->


  </body>
</html>
