<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <ul class="nav justify-content-end">
         <li class="nav-item">
           <a class="nav-link active" href="#"><img src="/images/user.svg" id="picto-user"></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Déconnexion</a>
         </li>
       </ul>
  </body>
</html>
