<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/envoiphoto.css">
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Accueil</a>

      <div class="collapse navbar-collapse">
        <div id="navbarleft" class="navbar-nav">
          <a href="/dashboard" id="pictophoto" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img class="pictonavbar" src="/images/user.svg"></a>
          <a href="/connexion" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Déconnexion</a>
        </div>
      </div>
    </nav>


    <div id="fin">
      Fin de partie
    </div>

    <div class="row divphoto">
      <span id="jeuphoto">Fifa 18</span>
      <span id="consolephoto">PS4</span>
    </div>

    <div class="row divphoto">
      <span id="userphoto1">UserName</span>
      <span id="scorephoto">0</span>
      <span id="scorephoto">0</span>
      <span id="userphoto2">UserName</span>
    </div>

    <form ref='uploadForm'
      id='formphoto'
      action='http://localhost:3000/upload'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>

    <a href="/recap"><button id="btnphoto" type="button" class="btn btn-danger">Continuer</button></a>
  </body>
</html>
