<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="offset-2 col-8 signup-form">
          <h1>Amis</h1><br>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Ami#1
            </button>
            <button type="button" class="list-group-item list-group-item-action">Ami#1</button>
            <button type="button" class="list-group-item list-group-item-action">Ami#2</button>
            <button type="button" class="list-group-item list-group-item-action">Ami#3</button>
            <button type="button" class="list-group-item list-group-item-action">Ami#4</button>
            <br>
            <p>ou</p>
            <br>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Trouver des joueurs</button>
          </div>
        </div>

      </div>
    </div>


  </body>
