<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mise</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"><%=user.pseudo%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard"><img src="/images/user.svg" id="picto-user"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/connexion">Déconnexion</a>
      </li>
    </ul>
    <br>

    <div class="container-fluid text-center" style="margin-right: 0px; margin-left: 0px;">

      <div class="row">
        <div class="col-12">
          <div class="text-center" id="montant-pari">
            Montant du pari
          </div><br>

          <div class="text-center">
            <span class="badge badge-secondary">FIFA 18</span>
            <span class="badge badge-secondary"><%=user.console%></span>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row" id="adversaires">
          <div class="card offset-2 col-2 text-center">
            <div class="card-body">
              <%=user.pseudo%>
            </div>
          </div>
          <div class="col-4 text-center">
            <h3>VS</h3>
          </div>
          <div class="card col-2  text-center">
            <div class="card-body">
              Cedric-le-Vert
            </div>
          </div>
      </div>


      <br>

      <div class="row offset-4 text-center" id="btn-mises">

        <div class="btn-mise">
          <form action="/mise5" method="POST">
            <input type="hidden" name="cinq" value="5">
            <button type="submit" class="btn btn-outline-dark btn-lg">5 €</button>
          </form>
        </div>

        <div class="btn-mise">
          <form action="/mise10" method="POST">
            <input type="hidden" name="dix" value="10">
            <button type="submit" class="btn btn-outline-dark btn-lg">10 €</button>
          </form>
        </div>

        <div class="btn-mise">
          <form action="/mise20" method="POST">
            <input type="hidden" name="vingt" value="20">
            <button type="submit" class="btn btn-outline-dark btn-lg">20 €</button>
          </form>
        </div>

        <div class="btn-mise">
          <form action="/mise30" method="POST">
            <input type="hidden" name="trente" value="30">
            <button type="submit" class="btn btn-outline-dark btn-lg">30 €</button>
          </form>
        </div>

        <div class="btn-mise">
          <form action="/mise40" method="POST">
            <input type="hidden" name="quarante" value="40">
            <button type="submit" class="btn btn-outline-dark btn-lg">40 €</button>
          </form>
        </div>

        <div class="btn-mise">
          <form action="/mise50" method="POST">
            <input type="hidden" name="cinquante" value="50">
            <button type="submit" class="btn btn-outline-dark btn-lg">50 €</button>
          </form>
        </div>

      </div>

    </div>
  </body>
  </html>
