<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <ul class="nav justify-content-end">
           <li class="nav-item">
             <a class="nav-link active" href="/"><img src="/images/user.svg" id="picto-user"></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/connexion">Déconnexion</a>
           </li>
         </ul>
         <h5>A vous de jouer !</h5>
         <h5>Cliquez ci-dessous quand vous avez terminé la partie</h5>

  <div id="btn-concept">
    <button type="button"  class="btn btn-sample btn-primary btn-lg">Continuer</button>
  </div>
<video src="https://www.youtube.com/watch?v=AYuTlYaNU0A"></video>


  </body>
</html>
