<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/recap.css">
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Accueil</a>

      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a href="/dashboard" id="pictophoto" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><img class="pictonavbar" src="/images/user.svg"></a>
          <a href="/connexion" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Déconnexion</a>
        </div>
      </div>
    </nav>

    <div id="recap">
      Récapitulatif résultat
    </div>

    <div class="row">
      <span id="jeurecap">Fifa 18</span>
      <span id="consolerecap">PS4</span>
    </div>

    <div class="row divrecap">
      <span class="userrecap">UserName</span>
      <span class="gainrecap">0</span>
      <span class="deviserecap">€</span>
    </div>


    <div class="row divrecap">
      <span class="userrecap">UserName</span>
      <span class="gainrecap">0</span>
      <span class="deviserecap">€</span>
    </div>


    <a href="/dashboard"><button id="btnrecap" type="button" class="btn btn-danger">Terminer</button>



  </body>
</html>
