/***** Dashboard *****/
body{
font-family: 'Do Hyeon', sans-serif;
background-color: #F0FFFF;
}

   /*** Barre ***/

.container-fluid {
  padding: 0px;
}

.nav{
  background-color: #0072bb;
  color: #FFFFFF;
}
.nav-link{
  color: #FFFFFF;
  background-color: #0072BB;
}
.nav-link :hover{
  color : #FFFFFF;
  font-weight: bolder;
}
#picto-user{
  width: 20px;
}
#main-dashboard{
  /* background-image: url("/images/fifa18-back.jpg");
  opacity: 0.4; */
  background-size: cover;
  height: 100vh;
  color: black;
  text-align: center;
}
#games{
  margin-top: 0px;
}
#players{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#game-select{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#picto-items{
  margin-right: 10px;
  width: 25px;
}
.img-game{
  width: 239px;
  height: 160px;
  margin-right: 5px;
}
.list-group{
  overflow: auto;
}
/* .#players p{
  overflow: auto;
} */

#picto-items1{
  width: 32px;
  margin-right: 10px;
}
/*** Customisation du bouton bootstrap ***/
.btn-sample {
color: #ffffff;
background-color: #B3001B;
border-color: #B3001B;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
color: #ffffff;
background-color: #b3001b;
border-color: #B3001B;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
background-color: #B3001B;
border-color: #B3001B;
}

.btn-sample .badge {
color: #B3001B;
background-color: #ffffff;
}
/*** Fin Customisation bouton bootstrap ***/
#btn-valider{
  text-align: center;
}
li {
  background-color: white;
}
