body{
font-family: 'Do Hyeon', sans-serif;
}
/* Envoi Photo */
.nav{
  background-color: #0072bb;
  color: #FFFFFF;
}
.nav-link{
  color: #FFFFFF;
}
.nav-link :hover{
  color : #FFFFFF;
  font-weight: bolder;
}
#picto-user{
  width: 20px;
}

#pictophoto {
  margin-right: 30px;
}
#recap-partie{
  color: #b3001b;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
#games{
  margin-top: 30px;
}
#adversaires{
  margin-top: 100px;
}
#btn-continuer{
  margin-top: 100px;
}
.divphoto {
  text-align: center;
  justify-content: space-between;
  margin-top: 150px;
}

#formphoto {
  text-align: center;
  margin-top: 150px;
}

#btnphoto {
  margin-left: 590px;
  margin-top: 150px;
  margin-bottom: 100px;
}

#jeuphoto {
  border: 1px #0072bb solid;
  padding: 5px;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #0072bb;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 400px;
}

#consolephoto {
  border: 1px #0072bb solid;
  padding: 5px;
  font-size: 30px;
  margin-right: 400px;
  color: #FFFFFF;
  background-color: #0072bb;
  border-radius: 10px;
}

#fin {
  color: #b3001b;
  font-size: 30px;
  text-align: center;
}

.userphoto{
  background-color: #E8EAF6;
  font-size: 30px;
  padding: 40px 40px 15px 40px;
  margin-left: 0px;
  border-radius: 4px;
}

.scorephoto {
  margin: 10px;
  font-size: 15px;
  border: 1px #468CC8 solid;
  padding: 0px;
  color: #468CC8;
  border-radius: 4px;
  width: 90px;
}

#btn-continuer{

}
